.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radio-label input[type="radio"] {
    margin-right: 10px;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #333;
  }
  