@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom styles for SweetAlert2 buttons */
.swal-button--confirm {
    background-color: #32C58D; /* Green */
}

.swal-button--cancel {
    background-color: #f44336; /* Red */
}


.pac-container {
    box-shadow: rgba(94, 93, 93, 0.27);
    position: relative;
    top: 50px;
    width: 60% !important;
    padding: 20px;
    background-color: #3b3b3b; 
    border-radius: 8px; 
    font-family: 'Inter', sans-serif; 
    z-index: 1000;
}

.pac-item {
    border: none;
    transition: ease-in-out 100ms;
    padding: 10px; 
    cursor: pointer; 
    color: white;
}

.pac-item-query {
    font-weight: bold; 
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Style the hovered item */
.pac-item:hover {
    transition: ease-in-out 100ms;
    background-color: #32C58D;
    color: white;
    border-radius: 12px;
}

.suggestion-item {
    box-shadow: rgba(94, 93, 93, 0.50);
    position: relative;
    width: 60% !important;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: #ececec; 
    font-family: 'Inter', sans-serif; 
    z-index: 1000;
    transition: ease-in-out 200ms;
}

.suggestion-item--active {
    transition: ease-in-out 200ms;
    background-color: #32C58D;
    color: white;
}

.react-calendar {
    color: white !important;
    background-color: #3b3b3b !important;
    border-radius: 12px;
    border: 1px white !important;
    outline: none !important;
}

.react-calendar__tile {
    flex: none !important;
    padding: 0 !important;
    height: 50px;
    width: 50px;
    transition: 200ms ease-in-out;
}

.react-calendar__tile--now {
    background-color: #32c58d9f !important;
}

.react-calendar__tile:hover {
    transition: 200ms ease-in-out;
    background-color: #32C58D !important;
    color: white !important;
}

.campaign-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.text-on-image {
    position: absolute;
    width: 80%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
  
  .text-up {
    top: 15%;
  }
  
  .text-down {
    bottom: 15%;
  }

/* Custom styling for the slider */
  input[type="range"] {
    -webkit-appearance: none; /* Override the default look */
    width: 300px; /* Set the width of the slider */
    height: 4px; /* Adjust the height of the track */
    background: #ddd; /* Background color for the track */
    border-radius: 5px; /* Round the corners of the track */
    outline: none; /* Remove the default outline */
    opacity: 1; /* Slight transparency */
    transition: opacity 0.2s;
  }
  
  /* Change the track color */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #32C58D; /* Gradient from green to red */
    border-radius: 5px;
  }
  
  /* Change the thumb (handle) color */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #32C58D; /* Green handle */
    border-radius: 50%; /* Round the thumb */
    cursor: pointer;
  }
  
  /* Change the thumb color when active (clicked or hovered) */
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #32C58D; /* Darker green on hover */
  }
  
  /* Firefox support for slider thumb */
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #32C58D;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  input[type="range"]::-moz-range-track {
    background: #32C58D;
    height: 8px;
    border-radius: 5px;
  }
  
  /* Slider when focused */
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #32C58D; /* Same gradient for focus */
  }
  